backups/*
smex-items
auto-save-list/*
places
session*
ac-comphist.dat
init.el.before_ecb_2.40
projectile-bookmarks.eld
projectile.cache
rake.cache
tramp
url/cookiessecret/
secret/**
/bookmarks
/eshell/history
/eshell/lastdir
/ido.last
/recentf
*~
